# Introduction
Webscrape ioncourt.com

### Load Packages

In [97]:
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
from curl_cffi import requests as cureq # pip install curlcffi (do this in terminal if necessary)

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

### Notebook Start

In [98]:
url = "https://ioncourt.com/live-scoring/66f56802035c490337d02632"

### Check Status Code
- 200 = success
- 404 = failed

In [99]:
headers = {"UserAgent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36"}
page = requests.get("https://api.ioncourt.com/api/match/66f56802035c490337d02632", headers=headers)
# page = cureq.get("https://api.ioncourt.com/api/match/67434de2f2738370bf0c3357", impersonate="chrome")

# page = requests.get("https://ioncourt.com/live-scoring/67434de2f2738370bf0c3357", headers=headers)
page.status_code

200

In [100]:
page

In [101]:
# soup = BeautifulSoup(page.content, 'html.parser')
match_data = page.json()
df = pd.json_normalize(match_data)
df.columns

Index(['data.weather.sys.timestamp', 'data.event.eventName',
       'data.event.eventId', 'data.schedule.scheduledDate',
       'data.schedule.scheduledTime', 'data.schedule.venueId',
       'data.schedule.milliseconds', 'data.schedule.time',
       'data.dist.tracking.serveLocation', 'data.dist.tracking.rallyLength',
       'data.dist.transfer.phone', 'data.dist.viewers', 'data.dist.owner',
       'data.dist.media', 'data.source.partner', 'data.source.drawId',
       'data.source.structureId', 'data._id', 'data.matchStatus',
       'data.matchUpStatusCodes', 'data.scoreSubscribers',
       'data.organisations', 'data.scoreDelay', 'data.discipline',
       'data.videoBoards', 'data.matchFormat', 'data.matchType',
       'data.matchId', 'data.tournament', 'data.roundName', 'data.roundNumber',
       'data.roundPosition', 'data.sides', 'data.startDate', 'data.sets',
       'data.scheduledItems', 'data.timeItems', 'data.trackers',
       'data.officials', 'data.extensions', 'data.cameras', 'data.clocks',
       'data.createdAt', 'data.updatedAt', 'data.__v', 'data.score._id',
       'data.score.scoreStringSide1', 'data.score.scoreStringSide2',
       'data.score.side1PointScore', 'data.score.side2PointScore',
       'data.score.sets', 'data.score.server._id',
       'data.score.server.sideNumber', 'data.score.server.playerNumber',
       'data.score.server.player', 'data.score.server.returningSide',
       'data.endDate', 'data.winningSide'],
      dtype='object')

In [103]:
match_data['data'].keys()
match_data = match_data['data']

In [104]:
match_data.keys()

dict_keys(['weather', 'event', 'schedule', 'dist', 'source', '_id', 'matchStatus', 'matchUpStatusCodes', 'scoreSubscribers', 'organisations', 'scoreDelay', 'discipline', 'videoBoards', 'matchFormat', 'matchType', 'matchId', 'tournament', 'roundName', 'roundNumber', 'roundPosition', 'sides', 'startDate', 'sets', 'scheduledItems', 'timeItems', 'trackers', 'officials', 'extensions', 'cameras', 'clocks', 'createdAt', 'updatedAt', '__v', 'score', 'endDate', 'winningSide'])

In [114]:
match_data['tournament']

'66ed9d733c78a1ac3794826b'

In [151]:
match_data['startDate']# prints date of specific match

'2024-09-26T14:04:35.581Z'

In [111]:
event_name = df['data.event.eventName'][0]

event_name

"Men's open singles"

In [112]:
tournament_id = match_data['tournament']
tournament_id

'66ed9d733c78a1ac3794826b'

In [117]:
tournament_name_url = tournament_url = f'https://ioncourt.com/tournaments/{tournament_id}/live-score'

tournament_name_url

'https://ioncourt.com/tournaments/66ed9d733c78a1ac3794826b/live-score'

In [118]:
pd.json_normalize(match_data)

,_id,matchStatus,matchUpStatusCodes,scoreSubscribers,organisations,scoreDelay,discipline,videoBoards,matchFormat,matchType,matchId,tournament,roundName,roundNumber,roundPosition,sides,startDate,sets,scheduledItems,timeItems,trackers,officials,extensions,cameras,clocks,createdAt,updatedAt,__v,endDate,winningSide,weather.sys.timestamp,event.eventName,event.eventId,schedule.scheduledDate,schedule.scheduledTime,schedule.venueId,schedule.milliseconds,schedule.time,dist.tracking.serveLocation,dist.tracking.rallyLength,dist.transfer.phone,dist.viewers,dist.owner,dist.media,source.partner,source.drawId,source.structureId,score._id,score.scoreStringSide1,score.scoreStringSide2,score.side1PointScore,score.side2PointScore,score.sets,score.server._id,score.server.sideNumber,score.server.playerNumber,score.server.player,score.server.returningSide
0,66f56802035c490337d02632,COMPLETED,[],[],[],1,TENNIS,[],SET3-S:6/TB7,S,99e576c8-b165-4f96-834e-6f5c52256663,66ed9d733c78a1ac3794826b,R32,2,13,"[{'_id': '66f56802035c490337d02633', 'sideNumb...",2024-09-26T14:04:35.581Z,"[{'_id': '66f58809b30c4d06162b7fec', 'games': ...","[{'_id': '66f569f6035c490337d03f37', 'itemType...","[{'itemDate': '2024-09-26T15:30:44.000Z', 'ite...","[{'accepted': True, '_id': '66f56802035c490337...",[],[],[],[],2024-09-26T13:56:18.546Z,2025-01-02T15:05:30.522Z,0,2024-09-26T16:12:54.167Z,2,2024-09-26T13:56:18.545Z,Men's open singles,0518805A-2404-425A-9C00-205CBFC81413,2024-09-26,09:00,32BEEDD7-05E7-4EBE-9DCF-F57FCDC60FD4,0,00:00:00,False,False,None,[],5ee10a4f89c8fbb7bed904e1,[],ITA,d56bdf02-8396-4264-8a2c-9443b65f24fc,31defe8f-f75c-4b90-abf0-eb4a25afe648,66f58809b30c4d06162b7fe7,7-5 3-6 0-6 (30-40),5-7 6-3 6-0 (40-30),30,40,"[{'_id': '66f58809b30c4d06162b7fe8', 'setNumbe...",66f58809b30c4d06162b7feb,1,1,66f170bd3c78a1ac379b2d9d,AD

### Finding Player Names

In [119]:
pd.json_normalize(match_data['sides'])['players']

0    [{'_id': '66f56802035c490337d02634', 'playerNu...
1    [{'_id': '66f56802035c490337d02636', 'playerNu...
Name: players, dtype: object

In [120]:
pd.json_normalize(match_data['sides'])['players'][0]

[{'_id': '66f56802035c490337d02634',
  'playerNumber': 1,
  'participant': {'verified': False,
   '_id': '66f170bd3c78a1ac379b2d9d',
   'first_name': 'Rudy',
   'last_name': 'Quan'}}]

In [121]:
p1_first_name = pd.json_normalize(match_data['sides'])['players'][0][0]['participant']['first_name']
p1_last_name = pd.json_normalize(match_data['sides'])['players'][0][0]['participant']['last_name']
p1_full_name = p1_first_name + " " + p1_last_name
p1_full_name

'Rudy Quan'

In [122]:
p2_first_name = pd.json_normalize(match_data['sides'])['players'][1][0]['participant']['first_name']
p2_last_name = pd.json_normalize(match_data['sides'])['players'][1][0]['participant']['last_name']
p2_full_name = p2_first_name + " " + p2_last_name
p2_full_name

'Jay Friend'

In [123]:
pd.json_normalize(match_data['sets'])

,_id,games,side1Score,side2Score,serverPickleballOrders,setNumber,winningSide,isCompleted,timestamp,returnerCourtSides
0,66f58809b30c4d06162b7fec,"[{'_id': '66f58809b30c4d06162b7fed', 'points':...",7,5,[],1,1,True,2024-09-26T15:00:35.306Z,[]
1,66f58809b30c4d06162b8118,"[{'_id': '66f58809b30c4d06162b8119', 'points':...",3,6,[],2,2,True,2024-09-26T15:47:22.560Z,[]
2,66f58809b30c4d06162b822e,"[{'_id': '66f58809b30c4d06162b822f', 'points':...",0,6,[],3,2,True,2024-09-26T16:12:53.967Z,[]

In [124]:
pd.json_normalize(pd.json_normalize(match_data['sets'])['games'][0])

,_id,points,side1Score,side2Score,gameFormat,gameNumber,winningSide,timestamp,updated
0,66f58809b30c4d06162b7fed,"[{'_id': '66f58809b30c4d06162b7fee', 'side1Sco...",1,0,STANDARD,1,1,2024-09-26T14:15:23.493Z,NaN
1,66f58809b30c4d06162b8000,"[{'_id': '66f58809b30c4d06162b8001', 'side1Sco...",1,1,STANDARD,2,2,2024-09-26T14:19:15.746Z,2024-09-26T14:15:23.493Z
2,66f58809b30c4d06162b8018,"[{'_id': '66f58809b30c4d06162b8019', 'side1Sco...",2,1,STANDARD,3,1,2024-09-26T14:21:31.217Z,2024-09-26T14:19:15.746Z
3,66f58809b30c4d06162b802a,"[{'_id': '66f58809b30c4d06162b802b', 'side1Sco...",3,1,STANDARD,4,1,2024-09-26T14:28:13.587Z,2024-09-26T14:21:31.217Z
4,66f58809b30c4d06162b8050,"[{'_id': '66f58809b30c4d06162b8051', 'side1Sco...",3,2,STANDARD,5,2,2024-09-26T14:32:03.593Z,2024-09-26T14:28:13.587Z
5,66f58809b30c4d06162b8071,"[{'_id': '66f58809b30c4d06162b8072', 'side1Sco...",3,3,STANDARD,6,2,2024-09-26T14:35:40.363Z,2024-09-26T14:32:03.593Z
6,66f58809b30c4d06162b8082,"[{'_id': '66f58809b30c4d06162b8083', 'side1Sco...",4,3,STANDARD,7,1,2024-09-26T14:38:23.978Z,2024-09-26T14:35:40.363Z
7,66f58809b30c4d06162b8093,"[{'_id': '66f58809b30c4d06162b8094', 'side1Sco...",4,4,STANDARD,8,2,2024-09-26T14:43:41.998Z,2024-09-26T14:38:23.978Z
8,66f58809b30c4d06162b80b6,"[{'_id': '66f58809b30c4d06162b80b7', 'side1Sco...",5,4,STANDARD,9,1,2024-09-26T14:49:10.217Z,2024-09-26T14:43:41.998Z
9,66f58809b30c4d06162b80d1,"[{'_id': '66f58809b30c4d06162b80d2', 'side1Sco...",5,5,STANDARD,10,2,2024-09-26T14:52:13.023Z,2024-09-26T14:49:10.217Z
10,66f58809b30c4d06162b80e3,"[{'_id': '66f58809b30c4d06162b80e4', 'side1Sco...",6,5,STANDARD,11,1,2024-09-26T14:55:56.962Z,2024-09-26T14:52:13.023Z
11,66f58809b30c4d06162b80fd,"[{'_id': '66f58809b30c4d06162b80fe', 'side1Sco...",7,5,STANDARD,12,1,2024-09-26T15:00:35.304Z,2024-09-26T14:55:56.962Z

In [125]:
pd.json_normalize(pd.json_normalize(pd.json_normalize(match_data['sets'])['games'][0])['points'][0])

,_id,side1Score,side2Score,extensions,shots,pointNumber,winningSide,winReason,timestamp,server._id,server.sideNumber,server.playerNumber,server.player,server.returningSide
0,66f58809b30c4d06162b7fee,1,0,"[{'_id': '66f58809b30c4d06162b7fef', 'name': '...","[{'_id': '66f58809b30c4d06162b7ff0', 'particip...",1,1,NONE,2024-09-26T14:13:11.719Z,66f58809b30c4d06162b7ff1,1,1,66f170bd3c78a1ac379b2d9d,DEUCE
1,66f58809b30c4d06162b7ff2,2,0,"[{'_id': '66f58809b30c4d06162b7ff3', 'name': '...","[{'_id': '66f58809b30c4d06162b7ff4', 'particip...",2,1,NONE,2024-09-26T14:14:01.799Z,66f58809b30c4d06162b7ff6,1,1,66f170bd3c78a1ac379b2d9d,AD
2,66f58809b30c4d06162b7ff7,3,0,"[{'_id': '66f58809b30c4d06162b7ff8', 'name': '...","[{'_id': '66f58809b30c4d06162b7ff9', 'particip...",3,1,NONE,2024-09-26T14:14:30.716Z,66f58809b30c4d06162b7ffa,1,1,66f170bd3c78a1ac379b2d9d,DEUCE
3,66f58809b30c4d06162b7ffb,0,0,"[{'_id': '66f58809b30c4d06162b7ffc', 'name': '...","[{'_id': '66f58809b30c4d06162b7ffd', 'particip...",4,1,NONE,2024-09-26T14:15:23.487Z,66f58809b30c4d06162b7fff,1,1,66f170bd3c78a1ac379b2d9d,AD

In [126]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [128]:
driver = webdriver.Chrome()

try:
    driver = webdriver.Chrome()

    url = 'https://ioncourt.com/live-scoring/66f56802035c490337d02632'
    driver.get(url)

    stats_button = WebDriverWait(driver, 30).until(
        EC.element_to_be_clickable((By.XPATH, "//*[@value='stats']"))
    )

    stats_button.click()

    stats_grid = WebDriverWait(driver, 30).until(
        EC.presence_of_element_located((By.XPATH, '//*[@id="content"]/app-match-tracker/ion-content/div[3]/app-stats/ion-grid'))
    )

    print(stats_grid.text)

    raw_data = stats_grid.text 

except Exception as e:
    print("Error occurred:", e)

finally:
    # Close the WebDriver
    driver.quit()

QUAN, R.
General
FRIEND, J.
73/164 (45%)
Total Points Won
91/164 (55%)
0
Short Rally
(0-4)
0
0
Medium Rally
(5-8)
0
0
Long Rally
(9+)
0
0
Winners
1
0
Forced Errors
0
2
Unforced Errors
5
-2
Aggressive Margin
-4
QUAN, R.
Serve
FRIEND, J.
0
Aces
1
2
Double Faults
5
61/80 (76%)
1st Serve %
58/84 (69%)
32/61 (52%)
1st Serve Points Won
41/58 (71%)
9/19 (47%)
2nd Serve Points Won
11/26 (42%)
41/80 (51%)
Total Serve Points Won
52/84 (62%)
QUAN, R.
Return
FRIEND, J.
0/79 (0%)
Returns Made
0/78 (0%)
17/58 (29%)
1st Serve Return Points Won
29/61 (48%)
15/26 (58%)
2nd Serve Return Points Won
10/19 (53%)
32/84 (38%)
Total Return Points Won
39/80 (49%)
3/11 (27%)
Break Points Won
7/11 (64%)

In [129]:
import csv
import pandas as pd 

player1_stats = {}
player2_stats = {}

lines = raw_data.strip().splitlines()

start_index = 33
relevant_lines = lines[start_index:]

stats = {
    "aces_player1": "",
    "aces_player2": "",
    "double_faults_player1": "",
    "double_faults_player2": "",
    "1st_serve_percentage_player1": "",
    "1st_serve_percentage_player2": "",
    "1st_serve_points_won_player1": "",
    "1st_serve_points_won_player2": "",
    "2nd_serve_points_won_player1": "",
    "2nd_serve_points_won_player2": "",
    "total_serve_points_won_player1": "",
    "total_serve_points_won_player2": "",
    "returns_player1": "",
    "returns_player2": "",
    "returns_made_player1": "",
    "returns_made_player2": "",
    "1st_serve_return_points_won_player1": "",
    "1st_serve_return_points_won_player2": "",
    "2nd_serve_return_points_won_player1": "",
    "2nd_serve_return_points_won_player2": "",
    "total_return_points_won_player1": "",
    "total_return_points_won_player2": "",
    "break_points_won_player1": "",
    "break_points_won_player2": "",
    
    
}

stat_keys = [
    "aces_player1",
    "aces_player2",
    "double_faults_player1",
    "double_faults_player2",
    "1st_serve_percentage_player1",
    "1st_serve_percentage_player2",
    "1st_serve_points_won_player1",
    "1st_serve_points_won_player2",
    "2nd_serve_points_won_player1",
    "2nd_serve_points_won_player2",
    "total_serve_points_won_player1",
    "total_serve_points_won_player2",
    "returns_player1",
    "returns_player2",
    "returns_made_player1",
    "returns_made_player2",
    "1st_serve_return_points_won_player1",
    "1st_serve_return_points_won_player2",
    "2nd_serve_return_points_won_player1",
    "2nd_serve_return_points_won_player2",
    "total_return_points_won_player1",
    "total_return_points_won_player2",
    "break_points_won_player1",
    "break_points_won_player2",
]

j = 0  # Initialize the index for stat_keys

for i in range(0, len(relevant_lines), 3): 
    if j < len(stat_keys):  
        stats[stat_keys[j]] = relevant_lines[i].strip()  
        j += 1
    if j < len(stat_keys): 
        stats[stat_keys[j]] = relevant_lines[i + 2].strip()
        j += 1

df = pd.DataFrame([stats])

df = df.drop(columns=["returns_player1", "returns_player2"])



df.to_csv('~/Downloads/player_stats_test1.csv', index=False)

# still need date, round, player1, player2, score, tournament

In [158]:
tournament_name_url

from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options

import time

driver = webdriver.Chrome()

# The URL to visit
url = tournament_url

try:
    driver.get("https://ioncourt.com/tournaments/66ed9d733c78a1ac3794826b/live-score")
    print("Page loaded.")
    
    time.sleep(5)

    tournament_label = WebDriverWait(driver, 20).until(
        EC.visibility_of_element_located(
            (By.XPATH, '//*[@id="content"]/app-tournament-details/ion-tabs/div/ion-router-outlet/app-live-score/app-tournament-header/ion-header/ion-toolbar[1]/ion-item/ion-label')
        )
    )
    print("Element found.")
    
    tournament_name = tournament_label.text.strip()
    print("Tournament Name:", tournament_name)

except Exception as e:
    print("Error:", e)

finally:
    driver.quit()

Page loaded.
Element found.
Tournament Name: 2024 ITA Men's All-American Championships